<nav
  class="fixed top-0 left-0 right-0 z-1000 h-14 bg-[var(--o-orange)] text-white shadow-md overflow-visible"
>
  <div
    class="mx-auto flex h-full items-center justify-between px-4 whitespace-nowrap overflow-visible"
  >

    <!-- LEFT: LOGO -->
    <div
      class="flex cursor-pointer items-center font-bold"
      (click)="goHome()"
    >
      <img
        src="assets/logo.png"
        alt="Orang"
        class="h-12 w-22 object-contain"
      />
    </div>

    <!-- RIGHT: AUTH ACTIONS -->
    <div class="flex items-center gap-3">

      <!-- LOGIN -->
      <orang-button
        *ngIf="!isLoginPage"
        (click)="goLogin()"
      >
        Log in
      </orang-button>

      <!-- REGISTER -->
      <orang-button
        *ngIf="!isRegisterPage"
        (click)="goRegister()"
      >
        Sign up
      </orang-button>

    </div>

  </div>
</nav>
