:host {
  display: block;
}


aside {
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  
  &::-webkit-scrollbar-thumb {
    background: var(--o-beige);
    border-radius: 3px;
    
    &:hover {
      background: var(--o-dbeige);
    }
  }
}