<div class="profile-header">
  <!-- Cover Photo -->
  <div class="h-[350px] bg-gradient-to-br from-blue-500 to-cyan-400 bg-cover bg-center relative" [style.background-image]="'url(' + coverImage + ')'">
    <orang-button class="absolute bottom-5 right-5 px-3 py-2" size="small" [istoggleable]="false" *ngIf="isOwnProfile">✏️ Edit Cover</orang-button>
  </div>
  
  <!-- Header Content -->
  <div class="header-content">
    <!-- Profile Picture -->
    <div class="profile-picture-container">
      <img 
        [src]="user?.avatar" 
        [alt]="user?.name" 
        class="profile-picture">
      <button class="edit-picture-btn" *ngIf="isOwnProfile">✏️</button>
    </div>
    
    <!-- Profile Info -->
    <div class="profile-info">
      <h1 class="profile-name">{{ user?.name }} {{ user?.surname }}</h1>
      
      <!-- Stats -->
      <div class="profile-stats">
        <div class="stat">
          <span>{{ stats.friends || 0 }} Friends</span>
        </div>
        <div class="stat">
          <span>{{ stats.posts || 0 }} Posts</span>
        </div>
      </div>
      
      <!-- 3 BUTTONS (Dynamic based on relationship) -->
      <div class="profile-actions">
        
        <!-- SELF PROFILE 
        <ng-container *ngIf="isOwnProfile">
          <orang-button (click)="onEditProfile()">
            ✏️ Edit Profile
          </orang-button>
          <orang-button (click)="onAddStory()">
            📖 Add to Story
          </orang-button>
        </ng-container> -->
        
        
        <!-- STRANGER'S/FRIEND'S PROFILE -->
        <ng-container *ngIf="!isOwnProfile">
          <orang-button *ngIf="!hasFriendRequest&&!didSentFriendRequest&&!isFriend" (click)="onAddFriend(user!.id)" [istoggleable]="false">
            👥 Add Friend
          </orang-button>
          <orang-button *ngIf="!hasFriendRequest&&isFriend" (click)="removeFriend(user!.id)" [istoggleable]="false">
            👥 Remove Friend
          </orang-button>
          <orang-button *ngIf="!hasFriendRequest&&didSentFriendRequest&&!isFriend" [istoggleable]="false">
            👥 Pending Responce
          </orang-button>
          <orang-button *ngIf="hasFriendRequest&&!isFriend" (click)="acceptFriendRequest(user!.id)" [istoggleable]="false">
            👥 Accept Invite
          </orang-button>
          <orang-button *ngIf="isFriend" (click)="checkChat()">
            💬 Chat
          </orang-button>
          <!--<orang-button (click)="onMore()">
            ⋮ More
          </orang-button>-->
        </ng-container>
        
      </div>
    </div>
    
    <!-- Additional Actions (right side)
    <div class="header-actions">
      <button class="icon-btn">📁</button>
      <button class="icon-btn">🔍</button>
      <button class="icon-btn">⋮</button>
    </div> -->
  </div>
</div>