<div style="background-color: var(--o-bwhite);">
  <app-navbar></app-navbar>
  <div class="w-full flex p-5 gap-5">
    <div class="w-4/5 mx-auto flex gap-6">
      <!-- Chat List -->
      <div class="md:w-1/3">
        <div *ngIf="!isShowingChats">
          No chats yet!
        </div>
        <div *ngIf="isShowingChats">
          <div *ngFor="let chat of chats">
            <div class="flex flex-col items-center text-center">
              <h4 
                class="font-bold text-[var(--o-green)]"
                (click)="selectChat(chat.id)"
              >{{ chat.name }}</h4>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Message Section -->
      <div class="flex-1 p-5">
        <div *ngIf="isShowingMessages">
          <div *ngFor="let message of messages">
            <div *ngIf="message.creator_id===currentUser?.id" class="flex justify-start">
              <div> {{ message.creator_id }} </div> <div> {{ message.text }} </div>
            </div>
            <div *ngIf="!(message.creator_id===currentUser?.id)" class="flex justify-end">
              <div> {{ message.text }} </div>
            </div>
          </div>
          <form (ngSubmit)="createMessage()" #messageForm="ngForm">
            <input
              type="text"
              [(ngModel)]="newMessageText"
              name="newMessageText"
              placeholder="Write a reply..."
              required
            >
            <orang-button size="small" [istoggleable]="false" type="submit" [disabled]="!messageForm.valid">
              send
            </orang-button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

