<div class="profile-header">
  <!-- Cover Photo -->
  <div class="h-[350px] bg-gradient-to-br from-blue-500 to-cyan-400 bg-cover bg-center relative" [style.background-image]="headerImageUrl">
    <div class="absolute bottom-5 right-5 p-8" *ngIf="isOwnGroup">
      <app-image-upload
        (imageUploaded)="onHeaderImageUploaded($event)"
        buttonText="Edit Header"
        >
      </app-image-upload>
    </div>
  </div>
  
  <!-- Header Content -->
  <div class="header-content">
    <!-- Profile Picture -->
    <div class="profile-picture-container">
      <img 
        [src]="profileImageUrl" 
        [alt]="group?.name" 
        class="profile-picture">
      
      <div class="edit-picture-btn" *ngIf="isOwnGroup">
        <app-image-upload
          (imageUploaded)="onProfileImageUploaded($event)"
          buttonText="Edit"
          >
        </app-image-upload>
      </div>
    </div>
    
    <!-- Profile Info -->
    <div class="profile-info">
      <h1 class="profile-name">{{ group?.name }}</h1>
      
      <!-- Stats -->
      <div class="profile-stats">
        <div class="stat">
          <span>{{ group?.member_data?.members }} Group members</span>
        </div>
      </div>
      
      <!-- 3 BUTTONS (Dynamic based on relationship) -->
      <div class="profile-actions">
        <ng-container *ngIf="!isOwnGroup">
          <orang-button *ngIf="!isFollowing"  [istoggleable]="false">
            👥 Join
          </orang-button>
          <orang-button *ngIf="isFollowing" [istoggleable]="false">
            👥 Leave
          </orang-button>
        </ng-container>
        
      </div>
    </div>
  </div>
</div>