<div style="background-color: var(--o-bwhite);">
  <app-navbar location="group"></app-navbar>

  <div class="profile-container">
    <app-text-display variant="beige" class="max-w-2xl w-full rounded-xl">
      <div class="mb-6 text-center">
        <div class="flex items-center justify-center gap-3 mb-2">
          
          <!-- Edit/Cancel Button -->
          <orang-button 
            (click)="toggleCreatingGroup()"
          >
            {{ isCreatingGroup ? 'Cancel' : 'Create New Group' }}
          </orang-button>
          
          <!-- Content Area -->
          <div class="flex-1" *ngIf="isCreatingGroup" >
            <!-- Edit Mode -->
            <form 
              (ngSubmit)="createGroup()" 
              class="flex items-center gap-3"
            >
              <input
                [(ngModel)]="groupName"
                type="text"
                name="groupName"
                placeholder="Group Name"
                class="border border-none bg-white rounded-md p-3 outline-none focus:ring-2 focus:ring-orange-400"
              >
              <textarea
                [(ngModel)]="groupBio"
                name="groupBio"
                placeholder="Write something Orang!"
                rows="1"
                class="w-full border border-none bg-white rounded-md p-3 outline-none focus:ring-2 focus:ring-orange-400"
              ></textarea>
              <orang-button 
                type="submit" 
                [istoggleable]="false"
              >
                Confirm
              </orang-button>
            </form>
          </div>
        </div>
      </div>
    </app-text-display>

    <app-text-display variant="beige" title="All Groups" class="max-w-9/10 w-full rounded-xl">
      
      <!-- Group grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4" *ngIf="!isLoading">
        <div 
          *ngFor="let group of groups" 
          class="friend-card bg-white/10 backdrop-blur-sm rounded-lg p-4 hover:bg-white/30 transition-colors duration-200 cursor-pointer"
        >
          <!-- Custom content goes here -->
          <div class="flex flex-col items-center text-center" (click)="goToGroup(group.id)">
            <img 
              [src]="group.profileImageUrl" 
              [alt]="group.name"
              class="w-16 h-16 rounded-full mb-3 object-cover border-2"
            >
            <h4 
              class="font-bold text-[var(--o-green)]"
              (click)="goToGroup(group.id)"
            >{{ group.name }}</h4>
          </div>
        </div>
      </div>
    </app-text-display>
  </div>
</div>