<div
  class="rounded-lg bg-white text-[var(--o-green)] p-8 font-bold"
  [ngClass]="{
    'bg-white': variant === 'white',
    'bg-[var(--o-beige)]': variant === 'beige'
  }"
>
  <h1
    [ngClass]="{
      'pb-8': title != '',
      'text-left': title_align === 'left',
      'text-right': title_align === 'right',
      'text-center': title_align === 'center',
      'text-xl' : variant === 'beige',
      'text-lg' : variant === 'white'
    }"
  >{{ title }}</h1>
  <ng-content></ng-content>
</div>
