<app-navbar></app-navbar>
<app-profile-header></app-profile-header>
<div class="profile-container"> 
  <div class="profile-content">
    <!-- Left 50% --> 
      <app-profile-sidebar></app-profile-sidebar> 
    
    <!-- Right 50% --> 
 
      <app-wall></app-wall> 
  </div>
</div> 

<app-wall></app-wall>
<div class="profile">
  <h1>Profile Page</h1>
  
  <div *ngIf="user">
    <h2>User ID: {{ userId }}</h2>
    <h3>Name: {{ user.name }}</h3>
    <img [src]="user.avatar" width="100">
    <p>Bio: {{ user.bio }}</p>
    
    <!-- The page WILL change depending on which user was clicked! -->
    <p>This is {{ userId === userService.currentUser?.id ? 'YOUR' : 'someone else\'s' }} profile</p>
  </div>
</div>
