<nav class="navbar">
  <div class="navbar-container">
    <!-- Logo -->
    <div class="navbar-logo" (click)="setActive('home')">
      <img class="logo-icon" src="assets/logo.png" alt="Orang" (click)="goToHome()">
    </div>

    <!-- Search Bar -->
    <div class="search-container">
      <input 
        type="text"
        class="search-input"
        placeholder="Wyszukaj"
      >
      <span class="search-icon">?</span>
    </div>

    <!-- Main Navigation (tylko wizualnie) -->
    <div class="nav-items">
      <div class="nav-item"
        (click)="goToMessages()"
      >
        <img [src]="getMessageIcon()">
      </div>
      <div class="nav-item"
        (click)="goToEvents()"
      >
        <img [src]="getEventsIcon()">
      </div>
      <div class="nav-item"
        (click)="goToGroups()"
      >
        <img [src]="getGroupsIcon()">
      </div>
      <div class="nav-item"
        (click)="goToCompany()"
      >
        <img [src]="getCompanyIcon()">
      </div>
      <div class="user-menu">
        <notifications-dropdown> </notifications-dropdown>
      </div>
      <!-- User Menu -->
      <div class="user-menu">
        <div class="nav-item" (click)="setActive('profile')">
          <img [src]="currentUser.avatar" alt="Avatar" class="user-avatar"> 
        </div>
      </div>
      <div class="user-menu">
        <profile-dropdown> </profile-dropdown>
      </div>
    </div>
  </div>
</nav>