.profile-container {
  display: flex;
  width: 100%;
  padding: 20px;
  gap: 20px;
}

.text-input-field {
  width: 90%;
  padding: 8px 12px;
  border: 1px solid var(--o-beige);
  color: var(--o-green);
  border-radius: 20px;
  font-size: 14px;
  background: white;
  
  &:focus {
    outline: none;
    background: white;
    border-color: var(--o-orange);
  }
}